body {
  display: flex;
  justify-content: space-between;
}

.cart-btn {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: left;

  img {
    width: 100%;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 20px;
  list-style: none;

  li {
    border: 1px solid #bbb;
    box-shadow: 2px 3px 4px #999;
  }

  div {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
  }

  img {
    width: 100%;
  }

  button {
    width: 30%;
    height: 10%;
  }
}

.cart {
  background: #eee;
  /* flex-grow: 1; */
  margin-left: -100px;

  :not(:has(:checked))+& {
    display: none;
  }

  .products {
    grid-template-columns: unset;

    li {
      display: flex;
      align-items: center;
      height: 50px;
    }

    img {
      height: 100%;
    }

    h4 {
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-shrink: 0;
    }

    button {
      height: unset;
      width: unset;
    }
  }
}